@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/intro.webp');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #71827aa6;
    padding: 2rem;
    color: #574530;
    border: 2px solid #71827a;
    transition: all 1s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}


.intro-text {
    align-items: center;
    background-color:#71827a;
    color:beige;
    display: flex;
    height: 250px;
    justify-content: center;
    margin-top: -4rem;
    padding: 0 15rem;
    clip-path: polygon(100% 8%, 100% 43%, 100% 91%, 0 99%, 0% 43%, 0 2%);
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    align-items: center;
    background-attachment: fixed;
    background-image: url('../img/package.1.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 450px;
    margin-top: -4rem;
    justify-content: center;
}

.packaging-image__text a {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #c4aba58a;
    padding: 2rem;
    color: #8d8079;
    border: 2px solid #c4aba5;
    transition: all 1s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    align-items: center;
    background-color: #8d8079;
    color:green;
    clip-path: polygon(100% 0, 100% 43%, 100% 100%, 0 96%, 0% 43%, 0 12%);
    display: flex;
    height: 250px;
    justify-content: center;
    margin-top: -4rem;
    padding: 0 15rem;
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    align-items: center;
    background-attachment: fixed;
    background-image: url('../img/tutorial.jpeg');
    background-size: cover;
    background-position: center;
    height: 450px;
    justify-content: center;
    margin-top: -2rem;
}

.tutorials-image__text a {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #b38a5b85;
    margin-top: 8rem;
    padding: 2rem;
    color: #2e2111;
    border: 2px solid #b38a5b;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.1);
}

.tutorials-image__text a:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(5px);
}

.footer {
    height: 250px;
    background-color: #e7d7c4;
    color: #616f68; 
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #616f68;
    text-decoration: none;

}

.footer ul li:hover, .footer ul li a:hover {
    color: #83b19a;
    transform: scale(1.3);
}
